<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>

    * {
      box-sizing: border-box;
      padding: 0px;
      margin: 0px;
    }

    body {
      background-color: #E3E3E3;
    }

    header {
      background-color: #1F1F1F;
      width: 100%;
      height: 140px;
      position: fixed;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      z-index: 1;
    }
    aside {
      position: fixed;
      left: 0;
      background-color: #3E3E3E;
      width: 30%;
      height: 100vh;
    }

    main {
      float: right;
      width: 70%;
      height: auto;
      padding-top: 140px;
      padding-bottom: 100px;
    }

    footer {
      background-color: #1F1F1F;
      width: 100%;
      height: 100px;
      position: fixed;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      bottom: 0;
      padding-left: 30%;
    }

    #send-container {
      background-color: #3C3C3C;
      border-radius: 100px;
      height: 50px;
      width: 60%;
      margin-top: 24px;
    }

    #send-container button {
      float: right;
      background-color: #007EF4;
      width: 35px;
      height: 35px;
      color: #E3E3E3;
      border-radius: 100px;
      border: 0;
      outline: 0;
      margin-left: -100px;
    }

    #send-container input[type="text"]{
      height: 50px;
      width: 100%;
      background-color: transparent;
      border: 0;
      outline: 0;
      padding-left: 5%;
      font-size: 17px;
      color: #fff;
    }

    #message-container div {
      width: 816px;
      min-height: 117px;
      border-radius: 20px;
      border-bottom-right-radius: 0px;
      background-color: #007EF4;
      padding: 20px;
      float: right;
      color: #fff;
      margin-top: 17.5px;
      margin-bottom: 17.5px;
      margin-right: 40px;
      font-family: sans-serif, Helvetica, Arial;
    }

  </style>
</head>
<body>
  <header>

  </header>
  <aside>

  </aside>
  <main>
    <div id="message-container"></div>
  </main>
  <footer>
        <form id="send-container">
          <input type="text" id="message-input" placeholder="Type your message" autocomplete="off">
          <button type="submit" id="send-button">Send</button>
        </form>
  </footer>
</body>
</html>